.card{
  margin-left: 20%;
}
.marleft{
text-align: center;
}



.styleh4{

margin-top: 10px;
color: gray;
margin-bottom: 20px;
}
.colorStyle{
  background-color: rgb(143, 148, 251);
}
.colorStyleCadre{

  background-color:rgb(143, 148, 251);
}

